In [ ]:
%load_ext sql
%sql sqlite:///TPC-H.db

In [ ]:
%%sql 
SELECT * FROM Nation
LIMIT 5;

In [ ]:
%%sql 
SELECT * FROM Region;

In [ ]:
%%sql 
SELECT * FROM Part LIMIT 2;

In [ ]:
%%sql 
SELECT * FROM Supplier LIMIT 2;

In [ ]:
%%sql 
SELECT * FROM Partsupp LIMIT 2;

In [ ]:
%%sql 
SELECT * FROM Customer LIMIT 2;

In [ ]:
%%sql 
SELECT * FROM Orders LIMIT 2;

In [ ]:
%%sql 
SELECT * FROM Lineitem LIMIT 2;

# Assignment #2

## Query 1

Produce a list of the 20 largest orders in the database, where size is defined as sum(quantity *(extended price - discount)). Order the output by decreasing order size. Please DO NOT use a “limit” clause to select the first 20 rows. Instead, think of other ways to filter out the bottom rows. Include the customer name, order number, and order size in the output table.

In [ ]:
%%sql
/* ID NUMBER HERE */
SELECT
FROM
WHERE
;

## Query 2

Produce an alphabetical list of all nations in the database, along with the total order volume within each nation (supplier nation equal customer nation). The total order volume can be defined as the sum of order sizes. Write two queries, one using a nested query and one without a nested query. In each output table include the country name and the order volume.

In [ ]:
%%sql
/* ID NUMBER HERE */
/* Using Nested Query */
SELECT
FROM
WHERE
;

In [ ]:
%%sql
/* ID NUMBER HERE */
/* Without Nested Query */
SELECT
FROM
WHERE
;

## Query 3

Produce a list of all nations in the database. The output table should include the name of the seller nation, each nation’s total order volume from nations within their own region, and the total order volume from nations in a different region. Sort the nations by their total order volume within their own region in descending order.

In [ ]:
%%sql
/* ID NUMBER HERE */
SELECT
FROM
WHERE
;

## Query 4

Find a list of all suppliers with orders from more than 615 different customers. Include the supplier name and customer count in the output table and order the rows by decreasing customer count.

In [ ]:
%%sql
/* ID NUMBER HERE */
SELECT
FROM
WHERE
;